mixin slider(data)
    +b#slider.slider()&attributes(attributes)
        +e.__slide
            +e('img').__slide-img(src='__static__img/assets/slider/slider-pic.jpg')
        +e.__slide
            +e('img').__slide-img(src='__static__img/assets/slider/slider-pic.jpg')
        +e.__slide
            +e('img').__slide-img(src='__static__img/assets/slider/slider-pic.jpg')
