.search {
	width: 250px;
	height: 32px;
	border: 1px solid #c8c8c8;
	font-family: $PTSans;
	font-size: 14px;
	color: #4d4c4c;
	@include clearfix;

	&__field {
		margin-top: 3px;
		margin-left: 10px;
		float: left;
		display: block;
		width: 210px;
		height: 24px;
		border: none;

		&::-webkit-input-placeholder {
			font-size: 14px;
			color: #b2b2b2;
		}

		&::-moz-placeholder {
			opacity: 1;
			font-size: 14px;
			color: #b2b2b2;
		}

		&:-ms-input-placeholder {
			font-size: 14px;
			color: #b2b2b2;
		}

		&:-moz-placeholder {
			opacity: 1;
			font-size: 14px;
			color: #b2b2b2;
		}
	}

	&__icon {
		margin-top: 6px;
		margin-right: 5px;
		float: right;
		display: block;
		width: 18px;
		height: 18px;
	}
}
